@import "config";

button {

    width: 100px;
    height: 25px;
    border-radius: round;
    display: inline-block;

    align-items: center;
    align-content: center;
    margin: 1em;
    background-color: green;
    color: black;
    font-weight: bold;
}