/* body {
  background-image: url("./cat1.png");
background-color: #cccccc;
} */

h1 {
    color:rgb(18, 12, 73);
    text-align: center;
}

button {

    width: 100px;
     height:25px;
    border-radius: round;
    display: inline-block;
    
    align-items: center;
    align-content: center;
    margin: 1em;
    background-color: green;
}

#Labels {

        display: flex;
        
        padding: 1em;
        align-items: center;
        justify-content: center;
        align-content: center;
        /* margin: 50px; */
        background-color: red;
        /* border: 1em bold red; */
        border-radius: round;
}
/* 
#wholeGrid{

            padding-top: -500px;
} */

body{
    display: flex;
    align-content: center;
    flex-direction: column;
    padding:1em;
}
