/* body {
  background-image: url("./cat1.png");
background-color: #cccccc;
} */

h1 {
    color:Red;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

button {

    width: 100px;
     height:25px;
    border-radius: round;
    display: inline-block;
    
    align-items: center;
    align-content: center;
    margin: 1em;
    background-color: green;
    color :black;
    font-weight: bold;
}

#Labels {

        display: flex;
        
        padding: 1em;
        align-items: center;
        justify-content: center;
        align-content: center;
        /* margin: 50px; */
        background-color: red;
        /* border: 1em bold red; */
        border-radius: round;
}

#wholeGrid{
            background-color: white;
           
}

body{
    display: flex;
    align-content: center;
    flex-direction: column;
    margin:1em;
    padding:1em;
    background-color: black;
}

p{
    color: white;
    display:flex;
    flex-direction: row;
    width:300px;
    margin: 1em;
    /* align-items: flex-start;
    justify-content: first baseline; */
}

#centerAlign {
    
    flex-direction: row;
    padding: 1em;
}




@media screen and (max-width: 600px) {
    #Labels {
        display:flex;
        align-items: center;
        padding: 1em;
        flex-direction: row;
        background-color: red;
        padding-top: 0.5em;
        margin: 0.25em;
    }
}